{% extends 'base.html' %}

{% block head%}
<img src ="../static/img/milo.png" width = "80" height="45" alt = "">

{% endblock %}
{% block content %}
<section class="analysis">
    <div class="ticker">
        <h2>Ticker Name: <span class = "name">{{ticker}}</span></h2>
        <h2 id="current_prices">current_price: {{current_price}}</h2>
    </div>
    <div class = "search_select_box">
        <select id = "ddselect" data-live-search="true">

        </select>

    </div>


    <!-- <div class="PE">
        <h1>P/E Ratio:</h1>

    </div> -->
    <section>

{% endblock %}